<!DOCTYPE html>
<html lang="en">
<head>
	<title>Registration</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="img/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css" />

<!--===============================================================================================-->
</head>
<body>


	<div class="container-contact100">
		<div class="contact100-map" id="google_map" data-pin="img/icons/map-marker.png" data-scrollwhell="0" data-draggable="1"></div>

		<div class="wrap-contact100">
			<div class="contact100-form-title" style="background-image: url(img/bg-01.jpg);">
				<span class="contact100-form-title-1">
					Register Yourself for {{eventname}}
				</span>

				<span class="contact100-form-title-2">
					Challenge your Pulse! Impulse!
				</span>
			</div>

			<form class="contact100-form validate-form" name="registration" id="reg-form" netlify>
				<input id="eventId" name="eventName" type="hidden" value="{{eventname}}"/>
				<div class="wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Full Name:</span>
					<input id="name" class="input100" type="text" name="name" placeholder="Enter full name" required>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<span class="label-input100">Email:</span>
					<input id="email" class="input100" type="text" name="email" placeholder="Enter email addess" required>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Phone is required">
					<span class="label-input100">Phone:</span>
					<input id="pn" class="input100" type="text" name="phone" placeholder="Enter phone number" required>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "College name is required">
					<span class="label-input100">College Name:</span>
					<input id="cn" class="input100" name="college_name" placeholder="Give your college name" required></input>
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						<span>
							Submit
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>




<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKFWBqlKAGCeS1rMVoaNlwyayu0e0YRes"></script>
	<script src="js/map-custom.js"></script>
<!--===============================================================================================-->
	<script src="js/mainRegister.js"></script>

<script>
	var eventnames = {coding: "Coding", it_quiz: "IT Quiz", web_design: "Web Designing", debate: "Debate", et_quiz: "Entertainment Quiz", photography: "Photography", treasure_hunt: "Treasure Hunt", movie_making: "Movie Making", namma_bhaashe_kannada: "Namma Bhaashe Kannada", gaming: "Gaming", footloose: "FootLoose", buzzinga: "Buzzinga"};
	var eventtag = "";
	var events = window.location.href.split("#");
	if (events.length == 2 && (events[1] in eventnames))
		eventtag = events[1];
	else
		window.history.back();
	 $("#eventId").val(eventnames[eventtag]);
	document.body.innerHTML = document.body.innerHTML.replace("{{eventname}}", eventnames[eventtag]);

//Register
	$("#reg-form").submit(function(e) {
  e.preventDefault();

  var $form = $(this);
		register();
  $.post($form.attr("action"), $form.serialize()).then(function() {
    alert("Thank you! Your registration has been recorded");
	window.location = 'home.html';
  });
});
 function register() {
	var xhttp = new XMLHttpRequest();
 	var name =document.getElementById("name").value;
   var eventid = document.getElementById("eventId").value;
   var email = document.getElementById("email").value;
   var pn = document.getElementById("pn").value;
   var cn = document.getElementById("cn").value;
   xhttp.open("POST", "http://register.impulse2k18.tk/register", true);
	 xhttp.onreadystatechange = function() {
  if (this.readyState == 4 && this.status == 200) {
	  console.log(this.responseText);//Need to wait till the server req is completed else it is sending in complete req so heroku is not geting complete things
  }
};
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	//xhttp.setRequestHeader("Origin","http://impulse2k18.tk");
  xhttp.setRequestHeader("Access-Control-Allow-Origin","*");
	xhttp.send("name="+name+"&eventName="+eventid+"&email="+email+"&PhoneNumber="+pn+"&collegeName="+cn); 
}		
	
</script>

</body>
</html>
